
<div class="modal">
  <div class="modal-content">
    <h2>{{ producto ? 'Editar Producto' : 'Crear Producto' }}</h2>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <label>Nombre:</label>
      <input type="text" formControlName="nombre" />
      <div *ngIf="form.controls['nombre'].invalid && form.controls['nombre'].touched">
        El nombre es requerido.
      </div>

      <label>Tipo:</label>
      <input type="text" formControlName="tipo" />

      <div class="modal-actions">
        <button type="submit" [disabled]="form.invalid">Guardar</button>
        <button type="button" (click)="cancel()">Cancelar</button>
      </div>
    </form>
  </div>
</div>
