<div class="container">
  <h3>{{producto.id ? 'Editar' : 'Crear'}} Producto</h3>
  <form (ngSubmit)="guardar()">
  <label>Nombre:</label>
  <input [(ngModel)]="producto.nombre" name="nombre" required />

  <label>Tipo:</label>
  <input [(ngModel)]="producto.tipo" name="tipo" required />

  <label>Planta:</label>
  <select [(ngModel)]="producto.plantaId" name="plantaId" required>
    <option *ngFor="let planta of plantas" [value]="planta.id">{{ planta.nombre }}</option>
  </select>

  <button type="submit">Guardar</button>
</form>
</div>
